html {
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "5B8B4F53", simsun, sans-serif;
    /*color: #666;*/
    /*background: #eee url(../img/bg3.gif) left top;*/
    /* background-repeat: repeat-y; */
    /* background-size: 100%; */
    /*text-shadow: 1px 1px 1px #ddd;*/
}

:root {
    /* Dark Mode */
    --text_color: var(--theme-color);
    --docsify_dark_mode_bg: #fff;
    --docsify_dark_mode_btn: var(--theme-color);

    /* Nav Page Links */
    --sidebar-nav-pagelink-background-image--loaded     : inherit !important;
}

.markdown-section {
    max-width: 80%;
    padding: 30px 15px 40px 15px;
}

#dark_mode > input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden
}

#dark_mode > label {
    cursor: pointer;
    text-indent: -9999px;
    width: 55px;
    height: 30px;
    background: var(--theme-color);
    background: var(--docsify_dark_mode_btn);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    position: relative;
}

#dark_mode > label:after {
    content: "";
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 4px;
    transition: .32s cubic-bezier(.68, -.55, .27, 1.55)
}

#dark_mode > input:checked + label {
    background: var(--theme-color);
    background: var(--docsify_dark_mode_btn);
}

#dark_mode > input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%)
}

html.transition, html.transition *, html.transition :after, html.transition :before {
    transition: .42s cubic-bezier(.68, -.55, .27, 1.55) !important;
    transition-delay: 0 !important
}

#dark_mode {
    /*position: absolute;*/
    /*bottom: 8%;*/
    /*transform: translate(-50%, -50%);*/
    /*left: 50%;*/
    order: 2;
    bottom: 0;
    text-align: center;
    position: relative;
    transform: translateY(35vh);
}

/*p {*/
/*    color: var(--theme-color);*/
/*    color: var(--text_color)*/
/*}*/
.sidebar-nav ul:not(.app-sub-sidebar)>li:not(.file)::before {
    left: -18px;
    height: 7px;
    width: 7px;
    top: 7px;
}

.sidebar-nav li.folder {
    font-size: 15px;
    left: 10%;
    margin-bottom: 2%;
}

aside.toc-nav {
    z-index: 10 !important;
}

.footer {
    font-family: sans-serif;
    font-size: 13px;
}

.beian {
    /*position: inherit;*/
    /*bottom: 2%;*/
    /*left: 25%;*/
    font-size: 13px;
    text-align: center;
    order: 3;
    bottom: 0;
    position: relative;
    transform: translateY(38vh);
}

.beian > a {
    color: #bbb;
    text-decoration: none;
}

.beian > a:hover {
    color: #222;
}