html {
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "5B8B4F53", simsun, sans-serif;
}

:root {
    /* Dark Mode */
    --text_color: var(--theme-color);
    --docsify_dark_mode_bg: #fff;
    --docsify_dark_mode_btn: var(--theme-color);

    /* Nav Page Links */
    --sidebar-nav-pagelink-background-image--loaded: inherit !important;
}

main, .app-nav, .github-corner {
    display: none;
}

.gitalk-container {
    width: inherit !important;
}

.markdown-section {
    max-width: 80%;
    padding: 30px 15px 40px 15px;
}

.markdown-section div:first-child {
    text-align: center;
}

.markdown-section div:first-child > span {
    float: unset !important;
}

#dark_mode > input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden
}

#dark_mode > label {
    cursor: pointer;
    text-indent: -9999px;
    width: 55px;
    height: 30px;
    background: var(--theme-color);
    background: var(--docsify_dark_mode_btn);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    position: relative;
}

#dark_mode > label:after {
    content: "";
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 4px;
    transition: .32s cubic-bezier(.68, -.55, .27, 1.55)
}

#dark_mode > input:checked + label {
    background: var(--theme-color);
    background: var(--docsify_dark_mode_btn);
}

#dark_mode > input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%)
}

html.transition, html.transition *, html.transition :after, html.transition :before {
    transition: .42s cubic-bezier(.68, -.55, .27, 1.55) !important;
    transition-delay: 0 !important
}

#dark_mode {
    margin: 30px 0 30px 0;
}

.sidebar-nav {
    flex-grow: 1;
}

.sidebar-footer {
    order: 1;
    margin-bottom: 35px;
}

.sidebar-nav ul:not(.app-sub-sidebar) > li:not(.file)::before {
    left: -18px;
    height: 7px;
    width: 7px;
    top: 7px;
}

.sidebar-nav li.folder {
    font-size: 15px;
    left: 10%;
    margin-bottom: 2%;
}

aside.toc-nav {
    z-index: 10 !important;
}

.footer {
    font-family: sans-serif;
    font-size: 13px;
}

.beian {
    text-align: center;
}

.beian > a {
    color: #bbb;
    text-decoration: none;
}

.beian > a:hover {
    color: #222;
}

.gt-container {
    margin: 0 20px;
}

#loader-container {
    width: 100%;
    height: calc(100vh);
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: #263038;
    line-height: initial;
}

.loader {
    color: #FFF;
    position: relative;
    display: inline-block;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    letter-spacing: 4px;
    box-sizing: border-box;
}

.loader::before {
    content: '';
    position: absolute;
    right: 70px;
    bottom: 10px;
    height: 28px;
    width: 5px;
    background: currentColor;
    box-sizing: border-box;
    animation: animloader1 1s linear infinite alternate;
}

.loader::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    left: 125px;
    top: 2px;
    border-radius: 50%;
    background: red;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
    0% {
        transform: translate(0px, 0px) scaleX(1);
    }
    14% {
        transform: translate(-12px, -16px) scaleX(1.05);
    }
    28% {
        transform: translate(-27px, -28px) scaleX(1.07);
    }
    42% {
        transform: translate(-46px, -35px) scaleX(1.1);
    }
    57% {
        transform: translate(-70px, -37px) scaleX(1.1);
    }
    71% {
        transform: translate(-94px, -32px) scaleX(1.07);
    }
    85% {
        transform: translate(-111px, -22px) scaleX(1.05);
    }
    100% {
        transform: translate(-125px, -9px) scaleX(1);
    }
}

@keyframes animloader1 {
    0% {
        box-shadow: 0 -6px, -122.9px -8px;
    }
    25%, 75% {
        box-shadow: 0 0, -122.9px -8px;
    }
    100% {
        box-shadow: 0 0, -122.9px -16px;
    }
}

/* 首页banner部分 */
.cover-main {
    width: 100%;
    max-width: initial !important;
    margin: 0 !important;
    padding: 0 !important;
}

.site-banner {
    width: 100%;
    position: relative;
    height: calc(100vh);
    text-align: center;
    overflow: hidden;
    background-color: #393D49;
}

.site-banner-bg, .site-banner-main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.site-banner-bg {
    background-position: center 0;
    display: flex;
    flex-direction: row; /* 子元素横向排列 */
    justify-content: center; /* 相对父元素水平居中 */
    align-items: center;
}

.site-zfj {
    padding-top: 25px;
}

.site-zfj i {
    position: absolute;
    left: 50%;
    top: 25px;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    font-size: 200px;
    color: #c2c2c2;
}

@-webkit-keyframes site-zfj {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotate(0deg) scale(1);
    }

    10% {
        opacity: 0.8;
        -webkit-transform: translate3d(-100px, 0px, 0) rotate(10deg) scale(0.7);
    }

    35% {
        opacity: 0.6;
        -webkit-transform: translate3d(100px, 0px, 0) rotate(30deg) scale(0.4);
    }

    50% {
        opacity: 0.4;
        -webkit-transform: translate3d(0, 0, 0) rotate(360deg) scale(0);
    }

    80% {
        opacity: 0.2;
        -webkit-transform: translate3d(0, 0, 0) rotate(720deg) scale(1);
    }

    90% {
        opacity: 0.1;
        -webkit-transform: translate3d(0, 0, 0) rotate(3600deg) scale(6);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotate(3600deg) scale(1);
    }
}

@keyframes site-zfj {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0) rotate(0deg) scale(1);
    }

    10% {
        opacity: 0.8;
        transform: translate3d(-100px, 0px, 0) rotate(10deg) scale(0.7);
    }

    35% {
        opacity: 0.6;
        transform: translate3d(100px, 0px, 0) rotate(30deg) scale(0.4);
    }

    50% {
        opacity: 0.4;
        transform: translate3d(0, 0, 0) rotate(360deg) scale(0);
    }

    80% {
        opacity: 0.2;
        transform: translate3d(0, 0, 0) rotate(720deg) scale(1);
    }

    90% {
        opacity: 0.1;
        transform: translate3d(0, 0, 0) rotate(3600deg) scale(6);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0) rotate(3600deg) scale(1);
    }
}

@-webkit-keyframes site-desc {
    0% {
        -webkit-transform: scale(1.1);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@keyframes site-desc {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes spinsun {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes shadow {
    0% {
        background-position: 130% 0%;
    }

    33% {
        background-position: 50% 0%;
    }

    55% {
        background-position: 0% 0%;
    }

    80% {
        background-position: -50% 0%;
    }

    100% {
        background-position: -50% 0%;
    }
}

@keyframes orbitmercury {
    0% {
        z-index: 2;
        transform: rotateY(0);
    }

    49% {
        z-index: 2;
    }

    50% {
        z-index: -2;
    }

    99% {
        z-index: -2;
    }

    100% {
        z-index: 2;
        transform: rotateY(360deg);
    }
}

@keyframes orbitvenus {
    0% {
        z-index: 3;
        transform: rotateY(0);
    }

    49% {
        z-index: 3;
    }

    50% {
        z-index: -3;
    }

    99% {
        z-index: -3;
    }

    100% {
        z-index: 3;
        transform: rotateY(360deg);
    }
}

@keyframes orbitearth {
    0% {
        z-index: 4;
        transform: rotateY(0);
    }

    49% {
        z-index: 4;
    }

    50% {
        z-index: -4;
    }

    99% {
        z-index: -4;
    }

    100% {
        z-index: 4;
        transform: rotateY(360deg);
    }
}

@keyframes orbitmars {
    0% {
        z-index: 5;
        transform: rotateY(0);
    }

    49% {
        z-index: 5;
    }

    50% {
        z-index: -5;
    }

    99% {
        z-index: -5;
    }

    100% {
        z-index: 5;
        transform: rotateY(360deg);
    }
}

@keyframes orbitjupiter {
    0% {
        z-index: 6;
        transform: rotateY(270);
    }

    49% {
        z-index: 6;
    }

    50% {
        z-index: -6;
    }

    99% {
        z-index: -6;
    }

    100% {
        z-index: 6;
        transform: rotateY(360deg);
    }
}

@keyframes orbitsaturn {
    0% {
        z-index: 7;
        transform: rotateY(270);
    }

    49% {
        z-index: 7;
    }

    50% {
        z-index: -7;
    }

    99% {
        z-index: -7;
    }

    100% {
        z-index: 7;
        transform: rotateY(360deg);
    }
}

/* Keep planet image flat */
@keyframes anti-spin {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(-360deg);
    }
}

@keyframes anti-spin-rings {
    from {
        transform: rotateY(0) rotateX(73deg);
    }

    to {
        transform: rotateY(-360deg) rotateX(73deg);
    }
}

/* scene wrapper */
.wrapper {
    position: relative;
    margin: 0 auto;
    display: block;
    margin-top: 62px;
    width: inherit;
    perspective: 1000px;
    perspective-origin: 60% 50%;
    transform: rotate(-10deg);
}

.wrapper > div {
    position: relative;
    margin: 0 auto;
    transform-style: preserve-3d;
    height: 0;
}

.sun {
    width: 250px;
    position: absolute;
    top: 0px;
    z-index: 1;
    height: 125px !important;
}

.sun .star {
    width: 250px;
    height: 250px;
    background: url(../img/3d/sun.png) no-repeat;
    background-size: cover;
    border-radius: 250px;
    margin: 0 auto;
    animation: spinsun 40s infinite linear;
}

.planet {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    animation-iteration-count: infinite;
    overflow: hidden;
}

.shadow {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: transparent url(../img/3d/shadow.png) 0% 0% no-repeat;
    background-size: cover;
    border-radius: 100%;
}

.mercury {
    position: absolute;
    width: 400px;
    z-index: 2;
    animation: orbitmercury 12s infinite linear;
    top: -7.5px;
    /*half of planets height to keep orbits in line*/
}

.mercury .planet {
    width: 15px;
    height: 15px;
    background-image: url(../img/3d/mercury.png);
    animation: anti-spin 12s infinite linear;
}

.mercury .shadow {
    animation: shadow 12s infinite linear;
}

.venus {
    position: absolute;
    width: 506px;
    z-index: 3;
    animation: orbitvenus 15s infinite linear;
    top: -19px;
}

.venus .planet {
    width: 38px;
    height: 38px;
    background-image: url(../img/3d/venus.png);
    animation: anti-spin 15s infinite linear;
}

.venus .shadow {
    animation: shadow 15s infinite linear;
}

.earth {
    position: absolute;
    width: 610px;
    z-index: 4;
    animation: orbitearth 20s infinite linear;
    top: -20px;
}

.earth .planet {
    width: 40px;
    height: 40px;
    background-image: url(../img/3d/earth.png);
    animation: anti-spin 20s infinite linear;
}

.earth .shadow {
    animation: shadow 20s infinite linear;
}

.mars {
    position: absolute;
    width: 706px;
    z-index: 5;
    animation: orbitmars 30s infinite linear;
    top: -11px;
}

.mars .planet {
    width: 22px;
    height: 22px;
    background-image: url(../img/3d/mars.png);
    animation: anti-spin 30s infinite linear;
}

.mars .shadow {
    animation: shadow 30s infinite linear;
}

.jupiter {
    position: absolute;
    width: 1100px;
    z-index: 6;
    animation: orbitjupiter 50s infinite linear;
    top: -64px;
}

.jupiter .planet {
    width: 128px;
    height: 128px;
    background-image: url(../img/3d/jupiter.png);
    animation: anti-spin 50s infinite linear;
}

.jupiter .shadow {
    animation: shadow 50s infinite linear;
}

.layui-anim-scaleSpring {
    -webkit-animation-name: layui-scale-spring;
    animation-name: layui-scale-spring
}

.site-zfj-anim i {
    -webkit-animation-name: site-zfj;
    animation-name: site-zfj;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.site-desc {
    position: relative;
    height: 50px;
    margin-top: 25px;
    font-size: 37px;
}

.site-desc-anim {
    -webkit-animation-name: site-desc;
    animation-name: site-desc;
}

.site-desc cite {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    color: #c2c2c2;
    font-style: normal;
    font-size: 14px;
}

.site-download {
    margin-top: 80px;
    font-size: 0;
}

.site-download a {
    position: relative;
    text-decoration: none !important;
    cursor: pointer;
    padding: 5px 25px;
    margin: 0 5px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #464B5B;
    font-size: 24px;
    color: #ccc;
    transition: all .5s;
    -webkit-transition: all .5s;
}

.site-download a:hover {
    border: 1px solid #778097;
    color: #fff;
    border-radius: 30px;
}

.site-download a cite {
    position: absolute;
    left: 45px;
    padding-top: 2px;
    font-size: 30px;
}

@media only screen and (max-width: 1200px) {
    aside.toc-nav {
        max-width: 20px;
    }
    .site-zfj {
        padding-top: 22%;
    }
    .site-desc {
        font-size: 28px;
    }
    .wrapper {
        margin-top: 50%;
    }
    .sun .star {
        width: 150px;
        height: 150px;
    }
    .jupiter .planet {
        width: 50px;
        height: 50px;
    }
    .earth .planet {
        width: 25px;
        height: 25px;
    }
}

@media only screen and (min-width: 1200px) {
    .site-zfj {
        padding: 5% 0;
    }
    .site-desc {
        font-size: 2.5em;
        line-height: 25px;
    }
    .site-download a {
        padding: 10px 50px;
    }
}